
[Unit]
Description=Malware Analysis Telegram Bot
After=network.target

[Service]
Type=simple
User=vsosh
Group=kvm
WorkingDirectory=/opt/project-vsosh
Environment=PATH=/opt/project-vsosh/venv/bin:/usr/bin:/bin
ExecStartPre=/bin/bash -c 'pkill -9 -f "qemu-system.*sandbox" || true; rm -f /tmp/vm_sandbox/*.sock || true; sleep 1'
ExecStart=/opt/project-vsosh/venv/bin/python3 tgbot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

MemoryMax=512M

[Install]
WantedBy=multi-user.target
